<section id="landing" class="bg-gradient-to-r from-blue-500 to-purple-600 p-8 rounded-lg shadow-lg text-center">
  <h4 class="font-bold mb-3 text-white text-xl xl:text-4xl">Exclusive Trade-in Offer</h4>
  <h2 class="text-white font-bold xl:text-7xl">Unbeatable Value Deals</h2>
  <h1 class="text-yellow-300 font-bold xl:text-7xl">On All Products!</h1>
  <p class="my-3 h-4 xl:my-5 xl:text-2xl text-white">Save more with coupons & enjoy discounts of up to 70%!</p>
  <button class="bg-yellow-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg transition duration-300 hover:bg-yellow-400 xl:mt-3 xl:text-3xl" routerLink="/shop">Shop Now</button>
</section>
